<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>知乎红娘小站 留言板</title>
    <!--<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css" integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous">-->
    <!--<link rel="stylesheet" href="/static/base.css">-->
    <!--<link rel="stylesheet" href="/static/bootstrap.css">-->
    <link href="/static/css/main.zhihu.css" rel="stylesheet">
    <link rel = "Shortcut Icon" href="/static/img/favicon.ico">
</head>
<body>
    <script src="/static/js/clickeffect.js" type="text/javascript"></script>
    <div class="QuestionHeader" style="color:#aaa;text-align:center;min-width:100%;">
        <br/>
        <a href="/" style="color:#666666;font-size:30px;line-height: 88px;">知乎红娘小站</a>
        <br/>
        <p>浮世萬千，吾愛有三</p>
        <p>日，月與卿</p>
        <p>日為朝，月為暮，卿為朝朝暮暮</p>
        <br/>
        <br/>
    </div>
    <div class="Question-main" style="width:95%;padding:0;display:block;">
        <div class="Question-mainColumn">
            <div class="Card AnswerCard">
                <div class="Card AnswerCard">
                    <div class="QuestionAnswer-content" style="padding:0;">
                        <div class="List-item">
                            <div class="ContentItem AnswerItem">
        <!--PC和WAP自适应版-->
        <div style="background-color: transparent" id="SOHUCS" sid="520"></div>
        <script type="text/javascript">
            (function () {
                var appid = 'cytz8dVug';
                var conf = 'prod_d12219bab3d46468483e832401efd9dc';
                var width = window.innerWidth || document.documentElement.clientWidth;
                if (width < 960) {
                    window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>');
                } else {
                    var loadJs = function (d, a) {
                        var c = document.getElementsByTagName("head")[0] || document.head || document.documentElement;
                        var b = document.createElement("script");
                        b.setAttribute("type", "text/javascript");
                        b.setAttribute("charset", "UTF-8");
                        b.setAttribute("src", d);
                        if (typeof a === "function") {
                            if (window.attachEvent) {
                                b.onreadystatechange = function () {
                                    var e = b.readyState;
                                    if (e === "loaded" || e === "complete") {
                                        b.onreadystatechange = null;
                                        a()
                                    }
                                }
                            } else {
                                b.onload = a
                            }
                        }
                        c.appendChild(b)
                    };
                    loadJs("https://changyan.sohu.com/upload/changyan.js", function () {
                        window.changyan.api.config({appid: appid, conf: conf})
                    });
                }
            })();
        </script>
        <div style="height: 40px;"></div>
    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin:0 auto;"><p style="color:#aaaaaa;">
        其他意见建议或使用问题等，请联系我邮箱：<a href="mailto:mocha_lee@qq.com">mocha_lee@qq.com</a>
        </p></div>
    </div>

</body>
</html>
